/* Foundation/base */
html {
  cursor: default; /* 1 */
}

body {
  font-size: 0.625rem;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: auto;
  display: block;
  width: 100vw;
  max-width: 1900px;
}

a {
  text-decoration: none;
  color: #000000;
}

/* mixin */ /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} /* font-weight */
/* light */
/* medium */
/* Bold */
/* Bold */
/* Heavy */
.l-global-wrapper {
  z-index: 200;
}
@media screen and (min-width: 375px) {
  .l-global-wrapper {
    max-width: 375px;
  }
}

.l-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.l-header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0px 10px;
}
.l-header__wrapper > .c-global-menu {
  position: absolute;
}
.l-header__wrapper .c-title__site {
  margin: 40px auto 38px auto;
  display: block;
}
.l-header__wrapper .c-title__site a {
  height: 40px;
}

.l-search {
  display: flex;
  justify-content: center;
}

.l-main {
  padding-top: 214px;
  height: 1000px;
  position: relative;
}
.l-main__content-wrapper {
  display: flex;
  margin-bottom: 29px;
}

.c-txt--black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3c2a10;
}
.c-txt--white {
  color: #ffffff;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.c-txt__btn {
  font-weight: 300;
  justify-content: center;
  align-items: center;
  color: #808080;
}

.c-title__site a {
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
.c-title--m-black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3c2a10;
  font-weight: 500;
}
.c-title--m-white {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #ffffff;
}
.c-title--roboto-black {
  color: 707070;
  font-family: "Roboto", sans-serif;
}
.c-title---roboto-white {
  font-family: "Roboto", sans-serif;
  color: #eaeaea;
}

.c-global-menu {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-size: 20px;
  font-weight: 510;
}

.c-background-color--bisque {
  background-color: #fff7ef;
}
.c-background-color--white {
  background-color: #ffffff;
}
.c-background-color--blanchedalmond {
  background-color: #F2EDE9;
}
.c-background-color--white-opacity {
  color: #ffffff;
  opacity: 0.8;
}
.c-background-color--black-opacity {
  background-color: #000000;
  opacity: 0.8;
}
.c-background-image__main-visual {
  background: center center/cover;
}

.c-list--category__aside ul {
  list-style: none;
}
.c-list--category__aside li {
  margin-bottom: 40px;
  margin-top: 40px;
}
.c-list--category__aside li:first-child {
  margin-top: 0;
}
.c-list--item__aside ul {
  list-style: none;
}
.c-list--item__aside li {
  margin-bottom: 23px;
}
.c-list--item__aside li:last-child {
  margin-bottom: 0;
}

.c-under-bar.scss {
  background-color: #ffffff;
  height: 1px;
}

.c-vertical-bar {
  border-right: solid 1px #ffffff;
}

.p-header .c-background-color--bisque {
  width: 100%;
}

.p-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  .p-nav {
    display: none;
  }
}
.p-nav .c-ttl--roboto-Gemini-Gray {
  font-size: 20px;
}

.p-search {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
}
.p-search__text-box {
  position: relative;
  width: 230px;
  height: 46px;
  padding-right: 12px;
}
.p-search__text-box__inner {
  width: 100%;
  height: 100%;
  border: 1px solid #707070;
  border-radius: 10px;
}
.p-search__text-box .text-box__icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 24px;
  color: #808080;
}
.p-search__btn {
  width: 78px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #F2EDE9;
  font-size: 16px;
  font-weight: 700;
  color: #808080;
}

.p-main-visual {
  width: 100%;
  height: 100%;
  position: relative;
}
.p-main-visual .c-title--m-white {
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  top: 43.6%;
  left: 25px;
}
.p-main-visual.c-background-image {
  background: url(../../../img/main-visual.svg);
  width: 100%;
  height: 285px;
}

/* Foundation */
/* Layout 
------------------------------*/
/* Component
------------------------------*/
/* Project
------------------------------*/
/*# sourceMappingURL=style.css.map */