/* Foundation/base */
html {
  cursor: default; /* 1 */
}

body {
  font-size: 0.625rem;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: auto;
  display: block;
  width: 100vw;
  max-width: 1900px;
}

a {
  text-decoration: none;
}

/* mixin */ /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} /* font-weight */
/* light */
/* Heavy */
/* medium */
/* Bold */
.l-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.l-search {
  display: flex;
  justify-content: center;
}

.c-txt--black {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3c2a10;
}
.c-txt--white {
  color: #ffffff;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.c-txt__btn {
  font-weight: 300;
  justify-content: center;
  align-items: center;
  color: #808080;
}

.c-background-color--bisque {
  background-color: #fff7ef;
}
.c-background-color--white {
  background-color: #ffffff;
}
.c-background-color--blanchedalmond {
  background-color: #F2EDE9;
}
.c-background-color--white-opacity {
  color: #ffffff;
  opacity: 0.8;
}
.c-background-color--black-opacity {
  background-color: #000000;
  opacity: 0.8;
}
.c-background-img__mv {
  background-image: url(../../../img/bg-mv.svg) center center;
}
.c-background-img__takeout {
  background-image: url(../../../img/takeout.svg) center center;
}
.c-background-img__eat-in {
  background-image: url(../../../img/eat-in.svg) center center;
}
.c-background-img__grain {
  background-image: url(../../../img/bg-grain.svg) center center;
  background-repeat: repeat;
}
.c-background-img__map {
  background-image: url(../../../img/bg-map.svg) center center;
}

.c-list--category__aside ul {
  list-style: none;
}
.c-list--category__aside li {
  margin-bottom: 40px;
  margin-top: 40px;
}
.c-list--category__aside li:first-child {
  margin-top: 0;
}
.c-list--item__aside ul {
  list-style: none;
}
.c-list--item__aside li {
  margin-bottom: 23px;
}
.c-list--item__aside li:last-child {
  margin-bottom: 0;
}

.c-under-bar.scss {
  background-color: #ffffff;
  height: 1px;
}

.c-vertical-bar {
  border-right: solid 1px #ffffff;
}

.p-header .c-background-color--bisque {
  width: 100%;
}
.p-header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.p-header__wrapper > nav {
  position: absolute;
}
.p-header__wrapper .c-site-title {
  margin: auto;
}

.p-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  .p-nav {
    display: none;
  }
}
.p-nav .c-ttl--roboto-Gemini-Gray {
  font-size: 20px;
}

.p-search {
  position: relative;
  display: flex;
  justify-content: center;
}
.p-search .c-text-box {
  position: relative;
  width: 230px;
  height: 46px;
}
.p-search .c-icon__search {
  position: absolute;
  top: 12px;
  left: 12px;
}

/* Foundation */
/* Layout 
------------------------------*/
/* Component
------------------------------*/
/* Project
------------------------------*/
/*# sourceMappingURL=style.css.map */