.c-background {
  &-color {
    &--bisque {
      background-color:  #fff7ef;
    }
    &--white {
      background-color:  #ffffff;
    }
    &--blanchedalmond {
      background-color: #F2EDE9;
    }
    &--white-opacity {
      background-color: #ffffff;
      opacity: 0.9;
    }
    &--white-opacity:hover {
      background-color: #ffffff;
    }
  }
  &-image {
    background: transparent center center / cover;
    &--shadow {
      position: relative;
      background-color: rgba(0,0,0,0.10);
      background-position: center center;
      background-size: 100%;
      &::before {
        content: '';
        background-color: rgba(0,0,0, 0.32);
        position: absolute;
        height: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
      } 
    }
  }
} 