.c-background {
  &-color {
    &--bisque {
      background-color:  #fff7ef;
    }
    &--white {
      background-color:  #ffffff;
    }
    &--blanchedalmond {
      background-color: #F2EDE9;
    }
    &--white-opacity {
      background-color: #ffffff;
      opacity: 0.9;
    }
    &--white-opacity:hover {
      background-color: #ffffff;
    }
    &--black-opacity {
      background-color: #000000;
      opacity: 0.9;
    }
  }
  &-image {
    background: transparent center center / cover;
  }
} 