.c-list {
  &--category__aside {
    ul {
      list-style: none;
    }
    li {
      margin-bottom: 40px;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &--item__aside {
    ul {
      list-style: none;
    }
    li {
      margin-bottom: 23px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}