@use "../../Foundation/variable" as v;

.c-txt {
  &--black {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #3c2a10;
  }
  &--white {
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  &__btn {
    font-weight: v.$Lbold;
    justify-content: center;
    align-items: center;
    color: #808080;
  }
}