@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-card {
  flex-direction: column;
  font-size: 1rem;
  margin-top: 1.5rem;

  &--yarpp {
    height: 536.45px;
    max-height: 536.45px;

    img {
      width: 100%;
      height: 50%;
    }

    @include m.mq (screen011) {
      flex-direction: row;
    }

    @include m.mq (screen02) {
      flex-direction: row;
    }

    .c-card {
      &__text-area {
        h2 {
          font-size: 2rem;
          padding: 1rem 0 1.5rem 0;
        }
      }

      &__detail {
        padding: 24px 5px 4px 0;
      }
    }
  }

  &--news {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    font-size: 1rem;
    margin-top: 1.5rem;

    @include m.mq (screen02) {
      flex-direction: row;
    }

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 5 / 4;
      @include m.mq (screen02) {
        width: min(50%, 210px);
      }
      @include m.mq (screen03) {
        width: min(32%, 320px);
      }
    }
    .c-card {
      &--news {
        &__contents-area {
          padding-left: 40px;
        }
      }
    }
  }

  @include m.mq (screen02) {
    flex-direction: row;
  }

  img {
    @include m.mq (screen02) {
      width: 50%;
    }
  }

  .c-card {
    &__contents-area {
      display: block;
      padding: 1rem;
      position: relative;

      @include m.mq (screen02) {
        width: 50%;
        padding: 2rem;
      }

      @include m.mq (screen03) {
        padding: 2.3rem 2.3rem 0 2.3rem;
        aspect-ratio: 4 / 3;
        height: 58%;
      }
    }

    &__title {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      font-size: 1.5rem;

      p {
        display: flex;
        align-items: center;
      }

      @include m.mq (screen02) {
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: 0.5rem;
      }

      @include m.mq (screen03) {
        padding-top: 0;
        padding-bottom: 4.5%;
        font-size: 1.5rem;
      }
    }

    &__sub-title {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.1rem;

      @include m.mq (screen02) {
        font-size: 0.9rem;
        padding-bottom: 4.5%;
      }
    }

    &__text {
      padding-right: 3rem;
      font-size: 0.9rem;

      @include m.mq (screen02) {
        font-size: 0.7rem;
        padding-right: 2rem;
        line-height: 1.3rem;
      }
    }

    &__btn-area {
      text-align: center;

      & .c-card__btn {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        margin: 13% auto;

        @include m.mq (screen02) {
          font-size: 1rem;
          padding: 0.5rem 3rem;
          margin: 11% auto 5% auto;
        }

        @include m.mq (screen03) {
          font-size: 0.8rem;
          margin: 11% auto 0 auto;
          padding: 0.8rem 3.7rem;
          height: 42%;
        }
      }
    }
  }
}