.p-footer {
  text-align: center;
  &.c-background-image {
    background-image: url($base-dir + 'images/bg-grain.svg');
    background-size: cover;
  }
  &__link {
    display: flex;
    justify-content: center;
    font-size: 20px;
    &>.c-text--M-white {
      &:nth-of-type(odd) {
        position: relative;
        padding-right: 1rem;
        &.u-vertical-bar::after {
          right: -0.2rem;
        }
      }
      &:nth-of-type(even) {
        padding-left: 1rem;
      }
    }
  }
  .c-copyright {
    padding-top: 2rem;
  }
}

#menu-footer-menu {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-left: 0;
}
#menu-footer-menu
a {
  font-family: m-plus-1m, sans-serif;
  color: #ffffff;
  text-align: left;
  padding-bottom: 1.7rem;
  font-weight: normal;
  position: relative;
  padding-left: 0.8rem;
  padding-right: 1.3rem;
}

#menu-footer-menu
li
a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1rem;
  top: 0.5rem;
  border-right: solid 1px #ffffff;
  right: -0.1rem;
}
#menu-footer-menu
li:last-of-type
a::after {
  border: none;
}