@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-recommended {
  &-field {
    padding-bottom: 5rem;

    &__price {
      padding-top: 1rem;
    }
  }

  &-items {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    @include m.mq (screen03) {
      gap: 37.5px;
    }

    .c-card {
      &__contents-area {
        background-color: #F9F0E2;
        ;
      }

      &__text-area {
        color: v.$bg-brown;
        ;
      }
    }
  }

  &-item {
    width: 100%;
    overflow: hidden;

    @include m.mq (screen011) {
      width: 334px;
    }

    @include m.mq (screen02) {
      width: 326.8px;
    }

    @include m.mq (screen03) {
      width: 426px;
    }
  }
}