@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.c-news-archive {
  &-category {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    font-size: 14px;
    &.is-mv {
      margin-left: 0;
      a {
        color: v.$white;
      }
    }
  }
  &-categories {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    padding: 16px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 231px;
    @include m.mq(screen02) {
      width: 531px;
      padding: 0 0 22px 0;
    }
    @include m.mq(screen03) {
      width: 531px;
      padding: 5px 0 16px 0;
    }
    &.is-mv {
      font-size: 1rem;
      a {
        color: v.$white;
      }
    }
  }
  &-tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 12px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1rem;
    &.is-mv {
      width: 220px;
      font-size: 12px;
      @include m.mq (screen02) {
        width: 368px;
      }
      @include m.mq (screen03) {
        width: 386px;
      }
    }
  }
  &-tag {
    padding: 0.5rem;
    font-weight: v.$Hbold;
    border-radius: 20px ;
    background-color: v.$gray-tag;
    margin-left: 1rem;
    line-height: 17.15px;
    &.is-mv {
      margin-left: 0;
      padding: 2px 17px;
    }
  }
}