@use "../../Foundation/variable" as v;

.p-about {
  position: relative;
  background-image: url(../../../img/bg-map.svg);
  background-size: cover;
  &__section-title {
    font-size: 1.8rem;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 20;
    .u-under-bar::before {
      height: 3px;
      bottom: -10px;
      width: 70px;
    }
  }
  &__inner {
    margin-bottom: 29px;
    >.c-text--M-white {
      position: absolute;
      top: 80px;
      left: 38px;
      right: 38px;
      font-size: 14px;
      height: 700px;
      line-height: 2rem;
      font-weight: bold;
      z-index: 20;
      overflow: scroll;
    }
  }
}
