@use "../../Foundation/variable" as v;

.p-about {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4) 50%,
  rgba(0,0,0,0) 50%), url(../../../img/bg-map.svg);
  background-position: center center;
  background-size: 100%;
  z-index: 1;
  &.p-about::before {
  content: '';
  background-color: rgba(0,0,0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

  &__section-title {
    font-size: 1.8rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    .u-under-bar::before {
      height: 3px;
      bottom: -10px;
    }
  }
}
.c-text--M-white {
  font-size: 14px;
  line-height: 2rem;
  background-color: transparent;
}

// .p-about {
//   position: relative;
//   background-image: linear-gradient(rgba(0,0,0,0.4) 50%,
//   rgba(0,0,0,0) 50%), url(../../../img/bg-map.svg);
//   background-position: center center;
//   background-size: 100%;
//   z-index: 1;
//   &.p-about::before {
//   content: '';
//   background-color: rgba(0,0,0, 0.1);
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 10;
// }

//   &__section-title {
//     font-size: 1.8rem;
//     padding-top: 10px;
//     padding-left: 10px;
//     padding-bottom: 0.5rem;
//     margin-bottom: 1rem;
//     position: relative;
//     .u-under-bar::before {
//       height: 3px;
//       bottom: -10px;
//     }
//   }
// }