@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-aside {
  background: #F2EDE9;
  position: relative;
  > p {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 1.3rem;
    padding-top: 3.4rem;
    padding-left: 28px;
    font-weight: 510; //要調整
    border: none;
    background: transparent;
    display: inline-block;
    text-align: left;
  }
  > .list {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    > li {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
      .c-list--item {
        padding-left: 10px;
        // li {
        //   padding-left: 20px;
        // }
      }
    }
  }
  > .list {
    @include m.mq (screen03) {
      display: flex;
    }
    li {
      font-size: 0.8rem;
      a {
        @include m.mq (screen03) {
          font-weight: normal;
          white-space: nowrap;
        }
      }
    }
  }
}
