@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-aside {
  background: #F2EDE9;
  position: relative;
  > p {
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 2rem;
    padding-top: 3.4rem;
    padding-left: 45px;
    font-weight: 510; //要調整
    border: none;
    background: transparent;
    display: inline-block;
    text-align: left;
  }
  > .list {
    flex-direction: column;
    display: flex;
    overflow-y: auto;
    > li {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > .list {
    @include m.mq (screen03) {
      display: flex;
    }
    li {
      font-size: 1.2rem;
      a {
        @include m.mq (screen03) {
          font-weight: normal;
          white-space: nowrap;
        }
      }
    }
  }
}
