.p-contents {
  &__take-out  {
    &.c-background-image {
    background-image: url(../../../img/takeout.svg);
  }
}
  &__eat-in  {
    &.c-background-image {
    background-image: url(../../../img/eat-in.svg);
  }
}
  &__section-title {
    font-size: 3.5rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0.5rem;
    margin-bottom: 20rem;
    position: relative;
  }
  &__item {
    height: 8rem;
    overflow: scroll;
    .c-background-color--white-opacity {
      width: 100%;
    }
    p {
      font-size: 16px;
    }
  }
  &__contents-title {
    font-size: 24px;
    padding-bottom: 9px;
  } 
}
