@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-gmenu {
    &--btn {
      border: none;
      background: transparent;
      display: block;
      & .c-menu-icon {
        width: 59px;
        @include m.mq (screen011) {
          font-size: 34px;
          left: 20px;
        }
        @include m.mq (screen02) {
          font-size: 34px;
          left: 20px;
          padding-top: 3px;
        }
      }
      @include m.mq (screen03) {
        display: none;
      }
    }
  &--fead {
    &.is-open {
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 110;
      @include m.mq (screen03) {
        display: none;
      }
    }
  }
}

.p-aside {
  .c-list {
    height: 102vh;
    display: flex;
    flex-direction: column;
    @include m.mq (screen03) {
      display: flex;
      align-items: center;
      li {
        display: flex;
        flex-direction: column;
        &.is-open {
          > .list {
            left: 0;
          }
        }
        @include m.mq (screen03) {
          margin-right: 20px;
          font-size: 1.2rem;
          a {
            @include m.mq (screen03) {
              font-weight: normal;
              white-space: nowrap;
            }
          }
        } 
        .c-list--item {
          padding-left: 10px;
        }
      }
    }
    &.list {
      &--item {
      li {
        margin-bottom: 50px;
        .c-list--item {
          padding-left: 10px;
        }
      }
    }
    &::before {
      // height: 100px;
    }
      > .list {
        li {
        }
      }
    }
  }
}
