@use "../../Foundation/mixin" as m;
@use "sass:math";

.p-hamburger {
  width: 59px;
  position: relative;
  @include m.mq (screen03) {
    display: none;
  }
  &.is-open {
    &::before {
      content: "";
      width: 20px;
      height: 2px;
      background: #707070;
      position: absolute;
      left: calc(50% - math.div(20px, 2));
      display: block;
      transform: rotate(45deg);
      top: 28px;
      z-index: 210;
    }
    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: #707070;
      left: calc(50% - math.div(20px, 2));
      position: absolute;
      display: block;
      transform: rotate(-45deg);
      top: 28px;
      z-index: 210;
    }
    > span {
      background: none;
    }
  }
}