@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-main-visual {
  width: 100%;
  height: 100%;
  position: relative;
  .c-text--M-white {
    font-size: 36px;
    font-weight: v.$bold;
    position: absolute;
    top: 43.6%;
    left: 25px;
  }
  &.c-background-image {
    height: 285px;
    background: url(../../../img/main-visual.svg);   
    @include m.mq (screen01) {
      min-width: 375px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include m.mq (screen011) {
      background-size: cover;
      background-repeat: no-repeat;
    }
    @include m.mq (screen02) {
      background: url(../../../img/mv-tav.svg) center center;
      width: 100%;
    }
    @include m.mq (screen03) {
      background: url(../../../img/mv-pc.svg) center center;
      height: 350px;
      transition: 200ms;
      width: 100%;
    }
  }
}