@use "../Component/text-box" as box;
@use "../Component/icon" as icon;

.p-search {
  position: relative;
  display: flex;
  justify-content: center;
  .c-text-box {
    position: relative;
    width: 230px;
    height: 46px;
  }
  & .c-icon__search {
    position: absolute;
    top: 12px;
    left: 12px;
  } 
}
