@use "../../Foundation/variable" as v;

.p-search {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
  .c-text-box--has-icon {
    width: 230px;
    height: 46px;
  }
  .c-btn--submit {
    width: 78px;
  }
}
