.p-wrap-photo {
  display: flex;
  flex-direction: column;
  &__first {
    padding: 2rem;
    width: 70%;
    align-items: center;
  }
  .c-flex-item__img {
    display: block;
    height: auto;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .c-wrap-photo {
    img {
      padding-bottom: 1.2rem;
    }
  }
}