@use "../Foundation/mixin" as m;

.l-contents {
  &--wrapper {
    display: flex;
    min-width: 375px;
    flex-direction: column;
    margin: 10px;
    transition: 200ms;
    @include m.mq (screen02) {
      flex-direction: row;
    }
  }
  @include m.mq (screen02) {
    width: 50%;
  }
  margin: 10px auto;
  width: calc(100% - 40px);
  @include m.mq (screen02) {
    margin: 10px;
  }

  &__item {
    margin: 0 10px 10px 10px;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }  
}