@use "../Foundation/mixin" as m;

.l-global-wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  min-width: 375px;
  max-width: 1900px;
  @include m.mq (screen03) {
    flex-direction: row;
  }
}
