@use "../Foundation/mixin" as m;

.l-global-wrapper {
  display: flex;
  z-index: 200;
  width: 100vw;
  flex-direction: column;
  @include m.mq (screen01) {
    min-width: 375px;
  }
  @include m.mq (screen03) {
    flex-direction: row;
  }
}
