@use "../Foundation/mixin" as m;

.l-global-wrapper {
  z-index: 200;
  transition: 200ms;
  width: 100%;
  @include m.mq (screen01) {
    min-width: 375px;
  }
  @include m.mq (screen01) {
    max-width: 874px;
  }
}