.l-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 100;
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 0px 10px;
    >.c-global-menu {
      position: absolute;
    }
  }
}